repos:
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.21.0
    hooks:
    -   id: pyupgrade
        args: [--py38-plus]
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.11.0"
  hooks:
    - id: pyproject-fmt

- repo: https://github.com/psf/black
  rev: 25.9.0
  hooks:
      - id: black
        language_version: python3
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.18.2' 
    hooks:
    -   id: mypy
        args: []
        additional_dependencies:
          - "pytest==7.2.0"
          - "tomli"